@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    all: initial;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.brand-100 {
    background-color: rgba(var(--primary-500), 0.1);
}

.brand-600 {
    color: rgba(var(--primary-500), 1);
}

.brand-500 {
    color: rgba(var(--primary-500), 1);
}

.brand-950 {
    color: rgba(var(--primary-500), 0.95);
}

.bg-brand-600 {
    background-color: rgba(var(--primary-600), 1);
}

.hover\:bg-brand-700:hover {
    background-color: rgba(var(--primary-800), 1);
}

.active\:bg-brand-800:active {
    background-color: rgba(var(--primary-900), 1);
}

.focus\:ring-brand-500:focus {
    --tw-ring-color: rgba(var(--primary-500), 0.5);
}

.ring-brand-950\/5 {
    --tw-ring-color: rgba(var(--primary-500), 0.05);
}

.focus\:ring-brand-500\/50:focus {
    --tw-ring-color: rgba(var(--primary-500), 0.5);
}

.embed-code-snippet pre {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}
