name: Deploy to Production Environment

on:
    release:
        types: [released]

env:
    AWS_REGION: 'us-west-2'
    ECR_REPOSITORY: 'aidingapp'

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-22.04
        environment: production

        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
              with:
                  submodules: true
                  ref: ${{ github.head_ref }}
                  token: ${{ secrets.PAT }}

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 #5.1.1
              with:
                  aws-access-key-id: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 #2.0.1

            - name: Build, tag, and push image to Amazon ECR
              id: build-image
              env:
                  ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                  IMAGE_TAG: ${{ github.event.release.tag_name }}
              run: |
                  # Build a docker container and
                  # push it to ECR so that it can
                  # be deployed to ECS.
                  docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG --target deploy --platform linux/amd64 --build-arg USER_ID=9999 --build-arg GROUP_ID=9999 .
                  docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
                  echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

            - name: Fill in the new image ID in the Amazon ECS task definition
              id: task-def
              uses: aws-actions/amazon-ecs-render-task-definition@cbed19f1b86bbb18f59cfffde7107b93cc9b75da #1.8.1
              with:
                  task-definition: 'docker/devops/ecs/aidingapp/aidingapp-prod-task-definition.json'
                  container-name: 'app'
                  image: ${{ steps.build-image.outputs.image }}

            - name: Deploy Amazon ECS task definition
              uses: aws-actions/amazon-ecs-deploy-task-definition@7b5ba17dae98c8fd463ddf2cef977d3be43322c5 #2.5.0
              with:
                  task-definition: ${{ steps.task-def.outputs.task-definition }}
                  service: 'aidingapp-prod-service'
                  cluster: 'aidingapp-prod'
                  wait-for-service-stability: true
